*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

.main-container{
    height: 100vh;
    width: 100%;
    position: relative;
    background: url(img/background.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-container .box{
    height: 86vh;
    width: 75%;
    background-color: rgba(225, 225, 225, 0.1);
    z-index: 10;
    border: 2px solid rgba(225, 225, 225, 0.7); /* para sa border*/
    border-radius: 20px;
    display: flex;
    backdrop-filter: blur(25px); /*para maging blur*/
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.15); /*para maging shadow*/
}

.main-container .box nav{
    height: 7%;
    width: 95%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px auto;
    padding: 20px;
}

nav .logo{
    font-size: 25px;
    color: #923892;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 670px;
    text-decoration: none;
}

.main-container .box .contains{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    padding-left: 80px;
}

.main-contanier .box .contains .section-1{
    position: relative;
    width: 40%;
}

.main-container .box .contains .section-1 h1{
    margin-bottom: 20px;
    font-size: 50px; 
    font-weight: bold;
    color: transparent;
     -webkit-text-stroke: 1px #fff;
}

.main-container .box .contains .section-1 h3{
    font-size: 24px;
    color: #923892;
    margin-bottom: 10px;
}

.main-container .box .contains .section-1 p{
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin-bottom: 50px;
}

.contains .section-1 .btn{
    padding: 15px 20px;
    background-color: #923892;
    border: 1px solid #923892;
    color: rgb(215, 215, 215);
    border: 5px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s;
}

.contains .section-1 .btn:hover{
    background-color: #fff;
    color: #923892;
}

.contains .section-2{
    width: 70%;
    margin-right: 40px;
    margin-bottom: 15px;
}

.contains .section-2 img{
    width: 100%;
}

.info{
    width: 100%;
    height: auto;
    padding: 50px 0;
    place-items: center;
    background-color: #CAB2D9;
}

.info .heading{
    font-size: 45px;
    font-weight: 500px;
    color: #CF4DCE;
    position: relative;
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
}

/*para sa underline sa heading*/
.heading::after{
    position: absolute;
    content: '';
    width: 15%; /*maadjust yung haba ng line*/
    height: 4px;
    left: 50%;
    bottom: -15px;
    background-image: linear-gradient(to right, rgb(108, 6, 236), rgb(220,0,240));
    transform: translate(-50%);
}

.info .heading-1{
    font-size: 45px;
    font-weight: 500px;
    color: #CF4DCE;
    position: relative;
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
}

.heading-1::after{
    position: absolute;
    content: '';
    width: 35%; /*maadjust yung haba ng line*/
    height: 4px;
    left: 50%;
    bottom: -15px; /*layo ng underline sa text*/
    background-image: linear-gradient(to right, rgb(108, 6, 236), rgb(220,0,240));
    transform: translate(-50%);
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
}

.card{
    background: linear-gradient(to bottom, rgb(108, 6, 236), rgb(220,0,240) );
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 70px;
    text-align: center;
    margin-top: 70px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 70px;
    border-radius: 25px;
}

.card-1{
    position: relative;
    max-width: 1000px;
    background:  #C3ACD0;
    margin-top: 50px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.384);
    transition: height 0.3s ease-out;
    border-radius: 25px;
}

.card-1 p{
    color: black;
    font-size: 1rem;
    padding-bottom: 40px;
    padding-bottom: .5rem;
    margin-top: 15px;
}

.card-1 img{
    width: 250;
    height: 250px;
    padding-bottom: 20px;
    display: block; /* para center yung picture */
    margin-left: auto;
    margin-right: auto;
    border-radius: 125px;
}

.contact-info{
    display: flex;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    margin-top: 70px;
    margin-bottom: 50px;
}

.contact-card{
    background: #554994;
    padding: 0 20px;
    margin: 0 10px;
    width: calc(33% - 20px);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.fa-solid{
    font-size: 28px;
    background: #CAB2D9;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px !important;
    border-radius: 50%;
}

.fa-brands{
    font-size: 28px;
    background: #CAB2D9;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px !important;
    border-radius: 50%;
}

.contact-card p{
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: 2px;
}

.footer__copyright {
    background: #413543;
    padding: 20px 0;
}

.footer__copyright h6 {
    font-size: 1.3rem;
    color: rgb(215, 215, 215);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

em{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
